.second-header {
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.taxi-logo {
    align-self: center;
}

.header2-list a {
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.3s;
}

.header2-liiist a:hover {
    color: #FECC18;
}

.header2-list li {
    margin-left: 50px;
}

.header2-list {
    display: flex;
}