.first-header {
    background-color: #171717;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-logos {
    margin-top: 10px;
    margin-bottom: 10px;
}
.contact-logos > a {
    margin-right: 10px;
}
.contact-logos i {
    font-size: 15px;
    transition: 0.3s;
}

.contact-logos i:hover {
    color: #FECC18;
}



.contact-telephone {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.contact-telephone a {
    margin-left: 5px;
    transition: .3s;
}

.phone-number {
    display: flex;
}

.telephone-text  {
    font-size: 14px;
    font-weight: 1100;
}

.contact-telephone a:hover {
    color: #FECC18;
}

.fa-phone-alt {
    color: rgb(255, 182, 45);
    margin-right: 5px;
    font-size: 12px;
    margin-bottom: 5px;
}

