.home-2 {
    height: 700px;
    width: 100%;
}


.home-2-content {
    display: flex;
    justify-content: space-between;
    width: 83%;
    height: 720px;
}


.home-2-title {
    font-size: 56px;
    font-weight: 1000;
    color: black;
}

.home-2-desc-1 {
    color:slategray;
    margin: 30px 0;
}


.home-2-desc-2 {
    color: slategray;
}


.home-2-logo {
    width: 40%;
    height: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.home-2-logo > img {
    width: auto;
    height: auto;
}   

.home-2-texts {
    width: 52%;
    padding-top: 170px;
}