.steps {
    width: 100%;
    height: 300px;
    display: flex;
}

.first-step-square {
    width: 33.33%;
    height: 300px;
    background-color: #292929;
}

.second-step-square {
    width: 33.33%;
    height: 300px;
    background-color: #242424;
}

.third-step-square {
    width: 33.33%;
    height: 300px;
    background-color: #171717;
}

.steps h2 {
    font-weight: 700;
    font-size: 26px;
    margin-left: 40px;
    align-self: center;
}

.steps p {
    font-weight: 300;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.5;
}

.step-beginning {
    display: flex;
    margin-bottom: 15px;
}

.step-margins {
    margin: 70px 50px;
}